@import "tailwindcss";
@import "@heroui/styles";
@plugin "@tailwindcss/typography";

@theme inline {
    --container-8xl: 100rem;
    --container-9xl: 110rem;
}

@utility scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}
